.post{
    /* display: flex;
    align-items: center;
     */
}
.postImg{ 
    display: flex;
    align-items: center;
    justify-content: center;

}
.shadow-5 {
    box-shadow: 4px 4px 8px 0 rgba(132, 132, 132, 0.4);
}